VITE_API_URL=https://benovelent-midax.onrender.com
VITE_SOCKET_URL=https://benovelent-midax.onrender.com
VITE_LOGIN_VIDEO_URL=
VITE_ABOUT_VIDEO_URL=
VITE_CONSTITUTION_VIDEO_URL=
VITE_GALLERY_VIDEO_URL=
VITE_NEWS_VIDEO_URL=
